.inner {
    margin-top: auto;
    margin-bottom: auto;
}

html,
body {
    height: 100%;
    background-color: dimgray;
}

#bforgotPass{
    color: white;
}

#loginImage{
    max-width: 98px;
}

#tLoginIn{
    color: white;
}

#tlongLoginIn{
    color: white;
}