.profileButtons:link {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}

.profileButtons:hover {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
}

.col-md-3{
    padding: 3%;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.5rem;
}

.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}