.contact-form label {
    font-weight: 600;
}

.contact-form button {
    color: #fff;
    font-weight: 600;
    width: 25%;
}

.contact-form button:focus {
    box-shadow: none;
}

.contact-form button:hover {
    color: gray;
}

.profileButtons:link {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}

.profileButtons:hover {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
}

.col-md-3 {
    padding: 3%;
    background-color: #343a40;
}

.col-md-9 {
    padding: 3%;
    background: white;
}